parameters:
    level: 9
    treatPhpDocTypesAsCertain: false
    paths:
        - src
        - tests
    excludePaths:
        - tests/*/*/*.php
    ignoreErrors:
        -
            identifier: offsetAccess.notFound
            path: tests
